.rodal-dialog {
  overflow-y: scroll;
}

._box {
  width: 200px;
  min-height: 200px;
  border: 2px solid !important;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.icon-width {
  width: 10% !important;
  cursor: pointer;
}

li{
  cursor: pointer;
}

@media (max-width: 500px) {
  .rodal-dialog {
    width: 80% !important;
  }

  .user-box{
    width: 100%;
  }

  ._box{
    width: 130px;
    min-height: 130px;
    justify-content: flex-start;
  }

  ._box button{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 14px;
  }

  ._box h6,p{
    font-size: 13px;
    margin: 0 !important;

  }

  .my-col{
    width: 100%;
  }

  .f-box_ {
    justify-content: center;
  }

  .my-btn_ {
    width: 100% !important;
  }
  .login{
    width: 95% !important;
  }
}
